@font-face {
    font-family: 'Millanova';
    src: url('Millanova.woff2') format('woff2'),
        url('Millanova.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

