@font-face {
    font-family: 'Rasfire Regular Personal Use';
    src: url('RasfireRegularPersonalUse.woff2') format('woff2'),
        url('RasfireRegularPersonalUse.woff') format('woff'),
        url('RasfireRegularPersonalUse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

